.burger{
  background-color:#EDE8DC;
}
.navbar{
  background-color :#A5B68D;
  font-family: 'Georgia', monospace; 
  font-weight: 400;
} 

.nav-link{ opacity: 0.7;}
.nav-link:hover {
  background-color:#E7CCCC; 
  opacity: 1;
  color:#A5B68D !important; 
}

  #header1{
  height: 900px;
  width: 100%;
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Apple_blossoms.jpg");
  background-size:cover;
  text-align: center;
  font-family: 'Georgia', monospace; 
}


  .img-thumbnail{
  height: 50px;
  width: 50%;
  position:center;
  }


.hero {
background-color: #f8f9fa;
padding: 50px 0;
text-align: center;
}
        .feature-icon {
            font-size: 40px;
            color: #007bff;
        }

 /*aboutMe*/

h2 {
    color: #333;
    margin-bottom: 20px;
}

p.lead {
    font-size: 1.25rem;
    color: #555;
}

/* About Section */
#about img {
    max-width: 100%;
    border: 5px solid #fff;
}

/* Skills Section */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Contact Section */
form .form-label {
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: white;
}

  /*resume*/
  h1, h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.contact {
font-family:'georgia';
margin-bottom: 20px;
color:#A5B68D;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.employment-item {
    margin-bottom: 10px;
}
